.header {
  background-color: var(--color-primary);
  color: var(--color-grey-light);

  display: flex;
  align-items: center;
  padding: 2rem;
  justify-content: space-between;

  &__title {
    font-weight: 400;
  }

  &__icon{
    font-size: 3rem;
  }
}
